<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% seo %}
  </head>
  <body>
    <header class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.github.repository_url %}
        <a href="{{ site.github.repository_url }}" class="btn">Voir sur GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Télécharger .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Télécharger .tar.gz</a>
      {% endif %}
    </header>

    <main class="main-content">
      <div class="nav-menu">
        <ul>
          <li><a href="index.html">Accueil</a></li>
          <li><a href="fonctionnalites.html">Fonctionnalités</a></li>
          <li><a href="api.html">API</a></li>
          <li><a href="tutoriel.html">Tutoriel</a></li>
          <li><a href="about.html">À propos</a></li>
        </ul>
      </div>

      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-owner">Ce projet est maintenu par <a href="https://github.com/Reeflex-M">Reeflex-M</a>.</span>
        <span class="site-footer-credits">Cette page a été générée par <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html> 